<script> 
  $(document).ready(function(){

    var has_starter_code = '{{has_starter_code}}' == 'true'

    if(has_starter_code) {
        var editor = ace.edit("ace-editor", {
        maxLines: Infinity,
        wrap: true,
        autoScrollEditorIntoView: true
      });
      editor.setTheme("ace/theme/xcode");
      editor.getSession().setMode("ace/mode/python");
      editor.setReadOnly(true);
    }
      
    var unittests = '{{unittests}}';
    
    parson = new ParsonsWidget({
      "sortableId": "sortable",
      "trashId": "sortableTrash",
      "unittests":unittests,
      "constructed_lines": '{{constructed_lines}}',
      "python3": true,
      "toggleTypeHandlers": {ab: ["<", ">"]}
    });
      
    parson.init('{{initial}}');
    parson.shuffleLines();
    
    $("#newInstanceLink").click(function(event){
       event.preventDefault();
       parson.shuffleLines();
    });
    
    $("#feedbackLink").click(function(event){

      event.preventDefault();
      var fb = parson.getFeedback();
      parsonsGrade(fb);
      $("#unittest").html("<h3>Feedback from testing your program:</h3>" + fb.feedback);
      if (fb.success) { display_feedback("Good, you solved the assignment!"); }
    });

  });
</script>